body{
    background-color: #f1f4f8;
}
#container{       
    margin: auto;
    width: 80%;
}
#container> div{
    margin-top: 40px;
    border-radius: 10px;
}
#div1{ 
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: white;
    height:300px;
    width: 100%;
    display: flex;
}
#div1_1{
    padding-top: 100px;
    width: 50%;
    text-align: center;
}
#div1_1 > h2{
    font-family: "Poppins";
    color: rgba(152,166,179,.81);
}  
#playstores img{
    height: 70px;
    width: 150px;
}
#playstores{
    display: flex;
    justify-content:space-around;
}
#div1_2{
    padding: 50px;
    background-image: url("http://www.revv.co.in/assets/RentalImages/HomeScreen/rental2021/downloadApp/xapp_preview_desk.png.pagespeed.ic.SlqPBPQ6An.png");
    width: 50%;
}
#journey-section > h2{
    font-family: "Poppins";
    color: rgba(152,166,179,.81);  
}
#stat-container{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
}
#stat-container img{
    height: 80px;
}
#stat-container p{
    margin-top: -14px;
}
#investors > h2{
    font-family: "Poppins";
    color: rgba(152,166,179,.81); 
}
#c-banner{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 10px;
}
#c-banner img{
    height: 120px;
}
#c-banner p{
    font-weight: bolder;
}
#services{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: #2a2b36;
    color: #919197;
}
#services h2{
    margin-left: 30px;
    color: white;
}
#services-city{
    margin: 0 30px 0 30px;
    display: flex;
    justify-content: space-between;
}
#services-city p:hover{
    font-weight: bold;
    color: whitesmoke;
}
#social{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}
#social>div{
    margin: 20px;
    width:50%;
    text-align: justify;
}
#social>div:nth-child(1) img{
    height: 80px;
}
#social>div:nth-child(2){
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
#icon{
    display: flex;
    justify-content: space-between;
}
#download_store>div{
    width: 80%;
    border: 1px solid grey;
    margin-bottom: 10px;
    text-align: center;
}
#about{
    margin: 10px;
}
#about > h2{
    font-family: "Poppins";
    color: rgba(152,166,179,.81); 
}