/* div {
    border:1px solid gray;
} */
*{
    padding: 0px;
    margin:0px
}
#navbar{
    font-family: sans-serif;
    height:65px;
    width:100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    display:flex;
    position: fixed;
    color: #212529;
    background-color: white;
}

#navleft{
 width:130px;
 height:100%;
 margin-left: 5%;
}

#navright{
    margin-right: 0px;
    padding-top: 0.8%;
    width:25%;
    height:100%;
    display: flex;
    right: 0;
}

#navbar2 {
background-color: white;
display: block;
width: 100%;
height:60px;
position: fixed;
top: 30px;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
transition: top 0.0s;
}

#navbar2 a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 15px;
text-decoration: none;
font-size: 17px;
}

#navbar2 a:hover {
background-color: #ddd;
color: black;
}


#navbar2-box{
width: 70%;
height:80%;
margin: auto;
margin-top: 5px;
display:flex;
}

#navbar2-box > div {
width:25%;
height:100%;
border:0.5px solid grey;
}

#search-loc{
width:100%;
height: 100%;
font-size: 20px;
color:white;
border-radius: 10px;
border: 1px solid rgb(142,193,213);
margin-left:-15px;
background-color:rgb(142,193,213);
}
#namshow {
    font-size: 20px;
    font-weight: 800;
    width: 80%;
    width: max-content;
    margin-right: 0px;
    color: rgb(83, 9, 83);
    margin-left: 10px;
}
#loc-logo{
margin-left: 10px;
}

#logo {
    margin-top: 5px;
    width: 50%;
}
#logshow {
    width: 80%;
    display: flex;
    text-align: center;
}
#signlogo {
    margin-top: -20px;
    margin-right: 15px;
    width: 15%;
}
#x {
    margin-top: 10px;
}
#x:hover, .hun:hover , #namshow:hover , #FAQ:hover{
    color: #0ebaba;
}
#navmid {
    width: 55%;
    display: flex;
    justify-content: end;
}

.hun {
    width:25%;
    height: 50%;
    border:.5px solid grey;
    border-radius: 5px;
    margin-top:12px;
    display: flex;
    font-family:Sans-serif	;
    text-align: center;
    padding-bottom: 8px;   
    margin-right: 30px;
 
}
.subs {
    margin: 15px 8%;
}

p{
    line-height: 10px;
    margin: 20px 15%;
}

#login{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0px;
    left: 0px;
    opacity: 2;
    background-color: rgba(0, 0, 0, 0.54);
    /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
    /* will-change: opacity; */
    /* transform: translateZ(0px); */
    /* transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; */
    z-index: 7;
    padding: 5px;
    display: none;
}
#signup {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0px;
    left: 0px;
    opacity: 2;
    background-color: rgba(0, 0, 0, 0.54);
    /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
    /* will-change: opacity; */
    /* transform: translateZ(0px); */
    /* transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; */
    z-index: 7;
    padding: 5px;
    display: none;
}

#login-a {
    box-sizing: border-box;
    /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; */
    position: relative;
    width: 360px;
    max-width: none;
    margin: 0px auto;
    z-index: 1500;
    margin-top: 60px;
    /* transform: translate(0px, 75px); */
    opacity: 1;
}
#login-b{
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(255, 255, 255);
    /* transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; */
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgb(0 0 0 / 25%) 0px 14px 45px, rgb(0 0 0 / 22%) 0px 10px 18px; */
    border-radius: 2px;
    overflow-y: scroll;
    height: 500px;
    padding: 20px;
}
#login-title{
    margin: 0 30% 0 25%;
    font-size: 25px;
    color: rgb(77, 72, 72);
}
#b {
    margin-bottom: 30px;
}  
#cross {
    margin-right: 0px;
}
/* #validmail {
    position: relative;
    bottom: 15px;
    font-size: 12px;
    line-height: 12px;
    color: rgb(244, 67, 54);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
} */
.valid {
    position: relative;
    font-size: 13px;
    color: #0ebaba;
    padding-left: 5%;
    text-align: center;
    cursor: pointer;
    top: -10px;
}
.indetails {
    padding: 0px;
    width: 100%;
    border: none;
    color: rgba(0, 0, 0, 0.87);
    cursor: inherit;
    font: inherit;
    height: 100%;
    outline: none;
}
hr {
    /* color: #0ebaba; */
    color: gray;
    border: 1px thin;
    margin-bottom: 10px;
}
#signin-details ,#signup-details{
    padding: 20px;
}
#inputbtn , #outbtn {
    border-radius: 4px;
    background-color: #0ebaba;
    color: #fff;
    min-width: 94px;
    min-height: 36px;
    border: none;
    margin: 30px 20px -50px 60px;
    height: 35px;
    width: 120px;
}
#inputbtn:hover,#outbtn:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
#gotosignup {
    font-size: 15px;
    text-align: center;
    margin: 20px 20px;
    color: blue;
    text-decoration: underline;
}
img {
    width: 200px;
    margin-left: 12%;
}
.fb {
    margin-bottom: 20px;
}



/* footer */

#footer{
    background-color: #f1f4f8;
}
/* #container2{       
    margin: auto;
    width: 80%;
}
#container2> div{
    margin-top: 40px;
    border-radius: 10px;
} */
#div1{ 
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: white;
    height:300px;
    width: 100%;
    display: flex;
}
#div1_1{
    padding-top: 100px;
    width: 50%;
    text-align: center;
}
#div1_1 > h2{
    font-family: "Poppins";
    color: rgba(152,166,179,.81);
}  
#playstores img{
    height: 70px;
    width: 150px;
}
#playstores{
    display: flex;
    justify-content:space-around;
}
#div1_2{
    padding: 50px;
    background-image: url("http://www.revv.co.in/assets/RentalImages/HomeScreen/rental2021/downloadApp/xapp_preview_desk.png.pagespeed.ic.SlqPBPQ6An.png");
    width: 50%;
}
#journey-section > h2{
    font-family: "Poppins";
    color: rgba(152,166,179,.81);  
}
#stat-container{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
}
#stat-container img{
    height: 80px;
}
#stat-container p{
    margin-top: -14px;
}
#investors > h2{
    font-family: "Poppins";
    color: rgba(152,166,179,.81); 
}
#c-banner{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 10px;
}
#c-banner img{
    height: 120px;
}
#c-banner p{
    font-weight: bolder;
}
#services{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: #2a2b36;
    color: #919197;
}
#services h2{
    margin-left: 30px;
    color: white;
}
#services-city{
    margin: 0 30px 0 30px;
    display: flex;
    justify-content: space-between;
}
#services-city p:hover{
    font-weight: bold;
    color: whitesmoke;
}
#social{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}
#social>div{
    margin: 20px;
    width:50%;
    text-align: justify;
}
#social>div:nth-child(1) img{
    height: 80px;
}
#social>div:nth-child(2){
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
#icon{
    display: flex;
    justify-content: space-between;
}
#download_store>div{
    width: 80%;
    border: 1px solid grey;
    margin-bottom: 10px;
    text-align: center;
}
#about{
    margin: 10px;
}
#about > h2{
    font-family: "Poppins";
    color: rgba(152,166,179,.81); 
}



@media only screen and (min-width:0px) and (max-width:320px)
        {
            #navmid {
                width: 25%;   
                font-size: 10px; 
            }
            #navleft{        
                margin-right: -10%;
                margin-left: 0%;
                font-size: 8px; 
               }               
               #navright{
                   margin-right: 0px;            
                   right: 0;
                   font-size: 10px; 
               }  
               .hun {
                   border: none;
                   font-size: 8px;
               }  
               #FAQ{
                   font-size: 10px;
                   padding-top: 20px;
               }
               #login-a {
                width: 250px;
            }       
            p ,.valid{
                font-size: 12px;
            }
            #login-title {
                font-size: 20px;
                margin-left: 10px;
            }
            img {
                width: 80%
            }
            #inputbtn {
                margin-left: 5%;
            }
           
               
           
           
            
        }

        @media only screen and (min-width:321px) and (max-width:720px)
        {

            #navmid {
                width: 30%;    
                border: none;
                margin-left: 10%;
            }
            #navleft{        
                margin-right: -10%;
                margin-left: 0%;
               }               
               #navright{
                   margin-right: 5%;            
                   right: 0;
                   font-size: 12px;
               }   
            .hun {
                border: none;
                font-size: 12px;
                /* margin-left: 0%; */
            }  
            #FAQ{
                font-size: 10px;
                padding-top: 20px;
            }   
            #login-a {
                width: 300px;
            }       
            p{
                font-size: 15px;
            }         
        }
