@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}


body > div {
    padding: 30px;
}
#nav-container{
    padding: 0px;
    /* height: 100px; */
}

#search-section{
    background: url('https://www.revv.co.in/assets/RentalImages/HomeScreen/xST-NEW-HOME-PAGE.jpg.pagespeed.ic.r7KH7kX050.jpg');
    height: 650px;
    display: flex;
    justify-content: center;
    padding: 60px;
    box-sizing: border-box;
    
}

#search-controls,#search-banner{
    background-color: white;
    margin: 20px;
    border-radius: 7px;
    padding: 20px;

}
#search-controls{
    text-align: center;
    width: 600px;
    height: fit-content;
}
#form-header > img{
    margin: 20px auto;
    width: 300px;

}

#form-controls{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
#form-location{
    grid-column: 1/5;
    /* border: 1px solid red; */
    border-bottom: 2px solid lightgrey;
    text-align: left;
    font-size: 12px;
    text-transform: uppercase;
    margin: 20px;
}

#location-icon{
    display: inline-block;
    height: 20px;
    position:relative;
    top: 205px;
    left: 57px;
}
#location{
    text-transform: none;
    font-size: 24px;
    /* margin: -15px 0px 0px 0px; */
    font-weight: 600;
}
#calender-icon{
    height: 25px;
    position: relative;
    top:7px;
    left: -15px;
}
#startdate{
    padding: 10px;
    width: 70%; 
}
#form-startdate{
    grid-column: 1/3;
    border-bottom: 2px solid lightgrey;
}
#form-duration{
    grid-column: 3/5;
    border-bottom: 2px solid lightgrey;
    text-align: left;
    font-size: 12px;
    text-transform: uppercase;
}
#form-duration p:nth-child(2){
     text-transform: none;
    font-size: 24px;
    /* margin: -15px 0px 0px 0px; */
    font-weight: 600;
}
#search-btn{
    grid-column: 2/4;
    background-image: linear-gradient(to left, rgb(28, 171, 162), rgb(28, 127, 171));
    color: white;
    font-size: 16px;
    padding: 15px;
    font-weight: 900;
    text-align: left;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
}

.fa-chevron-down{
    font-size: 18px;
    position: relative;
    top: 10px

}
#form-header > p:nth-child(3){
    font-size:18px;
}
#search-banner{
    height: fit-content;
    padding: 10px;
    width: 400px;
    
}
#sb-link{
    color: teal;
    font-size: 14px;
    text-decoration: none;
}
.d-flex{
    display: flex;
}
.col{
    flex-direction: column;
}
#how-it-works > div > div{
    margin: 10px 20px;
    width: 200px;
    border:none;
}
.how-it-works-icons{
    width: 100px;
    height: 100px;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    border: 10px solid lightgrey;
    border-radius: 50%;
    transition: 1s ;

}
.how-it-works-icons:hover{
    background-color: teal;
    color: white;
    transform: scale(1.2);


}
#rotate-icon{
    background-image: url('https://www.revv.co.in/imgs/icons/rotate-img.png');
    
}
#wheel-icon{
    background-image: url('https://www.revv.co.in/imgs/icons/wheel.png');
}

#wheel-icon:hover,#rotate-icon:hover{
    transform: rotate(360deg) scale(1.2);
    /* transform: scale(1.2); */

}
@keyframes jump {
    0% { transform: translate(0px,-30px);}
    25% {transform: translate(0px ,0px);}
    50% {transform: translate(0px ,5px);}
    60% {transform: translate(0px ,-5px);}
    70% {transform: translate(0px ,5px);}
    100% {transform: translate(0px ,-5px);}

}
.fa-car{
    /* background-image: url('https://www.revv.co.in/imgs/icons/car-icons.png'); */
    position: relative;
    top:30px;
    left: 27px;
    width: 100%;
    height: 100%;
}
.fa-car:hover{
    animation: jump 1s linear 1 ;
}

@keyframes wiggle {
    from { transform: translate(5px,0px);}
    to {transform: translate(-5px,0px);}
}
.fa-credit-card{
    width: 100%;
    height: 100%;
}
#card-icon{
    position: relative;
    top:40px;
    left: 30px;
}
#card-icon:hover{
    animation: wiggle 0.2s ease-out 3 alternate;
}

#view-all-btn{
    background-color: white;
    border: 1px solid lightgray;
    color:teal;
    font-weight: bolder;
    padding: 10px;
    width: 150px;
}

.faq{
    margin: 40px 0px;
    border-bottom: 1px solid lightgray;
}
#press-coverage-container {
    text-align: center;
}
#press-coverage-links a {
    width: 100px;
    margin:  10px;
    border-radius: 20px;

}
#press-coverage-links a:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#press-coverage-links img{
    width: 100%;
}
#journey-span{
    color: teal;
    font-weight: 100;
}

#stat-container img{
    height: 80px;
}
#stat-container p{
    margin-top: -14px;
}

#top-subscription-section{
    padding: 30px;
    background-color: #2a2b36;
    color: grey;
}

.top7 > h3{
    color: white;
}
.top7 > p:hover{
    color:white;
}

#contact-section{
    padding: 20px;
    background-color: #3d4250;
    color: white;
}
#social a{
    display: inline-block;
    margin: 20px 0px;
}
#copyright{
    font-size: 10px;
}
.center{
    justify-content: center;
}
.select-city-modal{
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;

}
#city-modal-content{
    width: 340px;
    position: absolute;
    top:10%;
    left:25%;
    background-color: white;
    border-radius: 10px;
}
.cities{
    overflow-y: scroll;
    height: 60vh;
    

}
#city-modal-content p{
    margin-left:  10px;
}
#city-modal-close-btn{
    background-color: white;
    color:grey;
    border:none;
}
.show-modal{
    opacity: 1;
    visibility: visible;
    /* transform: scale(1.0); */

}
.space-between{
    justify-content: space-between;
}
.wrap{
    flex-wrap: wrap;
}
.teal{
    color:teal;
}
.p-20{
    padding: 20px;
    box-sizing: border-box;
}
.mr-10{
    margin-right: 10px;
}
.grey{
    color:grey;
}
.answers{
    margin-left: 25px;
}
.questions{
    user-select: none;
}
.hide-ans{
    /* opacity: 0; */
    display: none;
}
#customer-section {
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    height: 150px;
    width: 90%;
    display: flex;
    margin-bottom: 10px;
}

.slider {
   
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.navigation-manual {

    position: initial;
    width: 100%;
    margin-top: -20px;
    display: flex;
    justify-content: center;

}

.manual-btn {
    margin: 5px;
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;

}

.manual-btn:hover {
    background: rgb(0, 0, 0);
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

#radio5:checked~.first {
    margin-left: -80%;
}
#customer-section p{
    line-height: 1;

}